black
flake8
isort
loguru
pip
python-dotenv
tqdm
typer
-e .

# Optional for OSF downloads
osfclient

# Optional for GHpages/Jupyter Book build
jupyter-book
matplotlib
numpy
xarray
scipy
holoviews
hvplot
ghp-import

